<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Componentes</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script defer src="./app.js"></script>
        <link rel="stylesheet" href="./styles.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <div id="app" class="container-fluid">
            <div class="content">
                <h1 class="title">Stock de Tiendas</h1>
                <div v-for="(tienda, i) in tiendas" :key="i">
                    <store-hero :name="tienda.name" :address="tienda.address"></store-hero>
                    <div class="btn-group mt-4" data-toggle="buttons">
                        <label class="btn btn-warning">
                            <input type="checkbox" checked v-model="tienda.defaultStyles" /> Apply Default Styles
                        </label>
                    </div>
                    <table-products :titles="tienda.stock.titles" :entries="tienda.stock.entries"
                        :class="[!tienda.defaultStyles ? tienda.stylesObject: '']">
                    </table-products>
                    <br />
                </div>
            </div>
            <div id="bg">
                <img :src="backgroundImg" alt="">
            </div>
        </div>
    </body>
</html>